*.pdf
*.txt
*.pyc
__pycache__/
.vs/
.vscode/
bin/
obj/
*.user
*.suo
.fases-futuras/

# Arquivos de cache do NuGet e .NET
*.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
project.assets.json

